html,
body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

body::-webkit-scrollbar {
	width: 4px;
}

body::-webkit-scrollbar-track {
	background-color: whitesmoke;
}

body::-webkit-scrollbar-thumb {
	background-color: darkgray;
}

.App {
	text-align: center;
	font-family: ProximaNova, "Helvetica Neue", Helvetica, Arial, sans-serif;
}


/*? ----------------------------NAVBAR---------------------------- */

.navbar {
	height: 79px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	box-sizing: border-box;
	padding: 0 55px;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
	position: sticky;
	top: 0;
	background-color: #fff;
	z-index: 2;
}

.nav-art {
	z-index: 3;
	position: absolute;
	height: 100%;
	background-repeat: no-repeat;
	left: 0;
}

.brand-logo {
	margin-right: 5%;
	height: 50px;
	z-index: 4;
	cursor: pointer;
}

.navbar>div {
	display: flex;
	font-weight: bold;
	color: #224386;
	gap: 2rem;
	height: 100%;
	width: 100%;
	align-items: center;
	z-index: 4;
}

.navbar>div>div {
	cursor: pointer;
	letter-spacing: 1px;
}

.arrow-right {
	display: flex;
	gap: 4px;
	align-items: center;
	height: 100%;
}

.down-arrow {
	font-size: 24px;
}

.nav-link {
	text-decoration: none;
	color: #224386;
	letter-spacing: 1px;
}

.navbar>div:last-child {
	justify-content: right;
	position: relative;
}

.login-signup {
	display: none;
}

.nav-user {
	font-size: 33px;
	cursor: pointer;
}

.nav-menu {
	font-size: 37px;
	cursor: pointer;
}

.nav-menu-drawer {
	height: 97vh;
	width: 30vw;
	position: absolute;
	background: #fff;
	top: 79px;
	right: -55px;
	z-index: 2;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
	background-image: url('https://animoto.com/static/GreenSplats-15fc0323bde2b75a41736eea23e94dc7.svg');
	background-size: 5rem;
	background-repeat: no-repeat;
	background-position: right 50vh;
	box-sizing: border-box;
}

.nav-menu-drawer div {
	height: 3rem;
	width: 90%;
	margin: 1rem auto;
	border-radius: 0.5rem;
	background-color: #f4f3f9;
	display: flex;
	align-items: center;
	gap: 0.7rem;
	box-sizing: border-box;
	padding: 0.2rem 1rem;
	letter-spacing: 0.1em;
}

.imp-sec {
	color: tomato;
}

.nav-menu-drawer div:hover {
	background-color: #f3f0fd;
}

.drawer-icon {
	font-size: 24px;
}


/*? ----------------------------DROPDOWN---------------------------- */

.create-dropdown {
	height: 294px;
	box-sizing: border-box;
	width: 100%;
	padding: 67px 100px;
	position: sticky;
	top: 79px;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
	z-index: 2;
	background-color: #fff;
	display: flex;
	justify-content: space-between;
	text-align: left;
	line-height: 1;
	color: #4664c8;
	font-size: 18px;
	letter-spacing: 1.7px;
	align-items: end;
}

.create-dropdown h4 {
	color: #241d49;
	line-height: 2;
	cursor: default;
}

.create-dropdown p {
	cursor: pointer;
}

.create-dropdown p:hover {
	color: #241d49;
}

.learn-dropdown {
	height: 294px;
	box-sizing: border-box;
	width: 100%;
	padding: 40px 90px;
	position: sticky;
	top: 79px;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
	z-index: 2;
	background-color: #fff;
	display: flex;
	justify-content: space-between;
	gap: 70px;
	text-align: left;
	line-height: 1.7;
	font-size: 18px;
	letter-spacing: 1.7px;
	color: #241d49;
}

.learn-dropdown>div>p:first-of-type {
	line-height: 2;
	color: #4664c8;
	cursor: pointer;
}

.learn-dropdown>div>p:last-of-type {
	cursor: default;
}

.learn-icon {
	font-size: 47px;
	cursor: pointer;
}


/*? ----------------------------FOOTER---------------------------- */

.footer {
	background-color: #dadada;
	width: 100%;
	height: 616px;
	box-sizing: border-box;
}

.footer-content {
	width: 100%;
	height: 506px;
	display: flex;
	justify-content: space-between;
	text-align: left;
	box-sizing: border-box;
	padding: 71px;
	color: #969696;
	font-size: 15px;
	letter-spacing: 1px;
}

.footer-content h4 {
	color: #241d49;
	font-size: 17px;
	cursor: default;
}

.footer-content p {
	cursor: pointer;
}

.footer-content p:hover {
	color: #241d49;
}

.footer-content h4+div {
	display: flex;
	gap: 7px;
}

.partner-logo-fb {
	height: 60px;
	margin-top: 2rem;
	cursor: pointer;
}

.partner-logo-yt {
	height: 50px;
	margin-top: 1rem;
	margin-left: -1rem;
	cursor: pointer;
}

.footer-rights {
	background-color: #232323;
	color: #505050;
	width: 100%;
	height: 110px;
	box-sizing: border-box;
	padding: 24px;
	font-size: 14px;
	line-height: 1.7;
	cursor: default;
}


/*? ----------------------------COMMON---------------------------- */

.btn {
	font-size: 16px;
	font-weight: bold;
	letter-spacing: 1px;
	color: #fff;
	background-color: #23408c;
	border: 2px solid #23408c;
	padding: 0.8rem 2.4rem;
	border-radius: 40px;
}

.btn:hover {
	transition: all .75s ease;
	cursor: pointer;
	background-color: #181c47;
	border-color: #181c47;
	color: #fff;
}

.outline {
	background-color: #fff;
	color: #23408c;
}

.white {
	color: #23408c;
	border-color: #fff;
	background-color: #fff;
}

.white:hover {
	color: #23408c;
	border-color: lightgray;
	background-color: lightgray;
}

.gray {
	color: #505050;
	border-color: darkgray;
	background-color: #fff;
}

.gray:hover {
	color: #505050;
	border-color: gray;
	background-color: #fff;
}

.disabled {
	color: whitesmoke;
	border-color: #91a0c7;
	background-color: #91a0c7;
}

.disabled:hover {
	color: whitesmoke;
	border-color: #91a0c7;
	background-color: #91a0c7;
	cursor: not-allowed;
}

h1 {
	font-family: PlayfairDisplay-Bold, serif;
	color: #181c47;
}


/*? ----------------------------HOME---------------------------- */
/** --------------INTRO-COMP-------------- */

.intro-comp {
	height: 768px;
	position: relative;
	box-sizing: border-box;
}

.intro-art-i {
	background: url('https://animoto.com/static/YellowCorner-d367eaf0eeff2a90f1d4d374e3b1c3e8.svg') no-repeat;
	background-size: contain;
	position: absolute;
	height: 10rem;
	width: 15.5rem;
	left: 0;
	top: 0;
}

.intro-art-ii {
	background: url('https://animoto.com/static/TealDots-212c4a91665ce0cc624cdf92514a34d6.svg') no-repeat;
	background-size: contain;
	position: absolute;
	height: 9rem;
	width: 7rem;
	left: 0;
	top: 3.5rem;
}

.intro-art-iii {
	background: url('https://animoto.com/static/GreenSplats-15fc0323bde2b75a41736eea23e94dc7.svg') no-repeat;
	background-size: contain;
	position: absolute;
	bottom: 0;
	right: 0;
	height: 17rem;
	width: 6rem;
}

.intro-content {
	height: 600px;
	background-color: #f4f3f9;
	box-sizing: border-box;
	padding: 90px 9%;
	color: #181c47;
}

.intro-content>div:first-child {
	height: 10%;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: 1rem;
	font-weight: bold;
	letter-spacing: 0.1em;
}

.intro-content>div:last-child {
	height: 90%;
	display: flex;
	gap: 60px;
	text-align: left;
}

.intro-content>div>div {
	height: 100%;
	width: 50%;
	box-sizing: border-box;
}

.intro-content h1 {
	font-size: 64px;
}

.intro-content h1+div {
	font-size: 19px;
	line-height: 1.5;
	margin: 1.4rem 0 3rem 0;
	letter-spacing: 1px;
}

.intro-content>div>div:last-child {
	position: relative;
}

.intro-content>div>div:last-child>div {
	width: 100%;
	height: 74%;
	position: absolute;
}

.intro-content>div>div:last-child>div:first-child {
	bottom: 2rem;
}

.intro-content>div>div:last-child>div:first-child>img {
	width: 100%;
	height: 100%;
}

.intro-content>div>div:last-child>div:last-child {
	top: 2rem;
	right: 2rem;
	cursor: pointer;
}

.intro-content>div>div:last-child>div:last-child>video {
	width: 100%;
	height: 100%;
}

/** --------------BUSINESS-COMP-------------- */

.business-comp {
	height: 768px;
	box-sizing: border-box;
	padding: 40px 100px;
	cursor: default;
}

.business-header>h1,
.qt-header>h1,
.need-header>h1,
.need-content>div>div>h1,
.review-header>h1 {
	font-size: 43px;
	margin-bottom: 1rem;
}

.business-content {
	height: auto;
	display: flex;
	justify-content: space-between;
	margin-top: 5rem;
	line-height: 1.7;
	font-size: 18px;
	color: #181c47;
	letter-spacing: 0.1em;
	box-sizing: border-box;
}

.business-content>div {
	width: 32%;
}

.business-content img {
	width: 100%;
	cursor: pointer;
}

.business-content h4 {
	color: #23408c;
	font-size: 17px;
	margin: 2rem auto 1rem auto;
}

.business-content h4+div {
	margin: 0 auto 2rem auto;
}

/** --------------QUICKLY-TEMPLATES-COMP-------------- */

.qt-comp {
	height: 768px;
	width: 95%;
	margin: auto;
	box-sizing: border-box;
	padding: 60px;
	background-color: #f4f3f9;
	color: #181c47;
	cursor: default;
	margin-bottom: 3rem;
	position: relative;
}

.qt-header>h4 {
	letter-spacing: 0.1em;
	margin-bottom: 1rem;
}

.qt-navigator {
	display: flex;
	align-items: center;
	justify-content: space-between;
	box-sizing: border-box;
	padding: 2.4rem;
	letter-spacing: 0.1em;
	font-weight: bold;
	color: #23408c;
	cursor: pointer;
	border-color: #23408c;
}

.qt-navigator>div {
	padding-bottom: 4px;
}

.qt-content {
	display: flex;
	align-items: center;
	justify-content: space-between;
	letter-spacing: 0.1em;
}

.qt-content>div {
	width: 31.4%;
	text-align: left;
	position: relative;
}

.qt-content h4 {
	margin: 1.5rem 0 1rem 0;
}

.qt-content img {
	width: 100%;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.qt-play-btn {
	position: absolute;
	left: 7px;
	top: 7px;
	color: whitesmoke;
	font-size: 55px;
	background-color: rgba(0, 0, 0, 0.477);
	border-radius: 50%;
	cursor: pointer;
}

.qt-play-btn:hover {
	background-color: rgba(0, 0, 0, 0.603);
}

.qt-content video {
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}

/** --------------EVERYTHING-NEED-COMP-------------- */

.need-comp {
	color: #181c47;
	cursor: default;
	padding: 5rem;
	padding-bottom: 0;
	position: relative;
}

.need-content {
	box-sizing: border-box;
	text-align: left;
}

.need-content>div {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 7rem;
	margin: 5rem;
	margin-bottom: 7rem;
}

.need-details {
	width: 70%;
}

.need-details>div {
	font-size: 19px;
	letter-spacing: 0.1em;
	line-height: 1.5;
	margin-bottom: 2rem;
}

.need-content video {
	width: 100%;
}

.need-art-i {
	background: url('https://animoto.com/static/BlueBlob-f3612ef9bf45c9875bb88442cf5907aa.svg') no-repeat;
	background-size: contain;
	position: absolute;
	width: 5rem;
	height: 17rem;
	left: -5rem;
	bottom: -18rem;
}

.need-art-ii {
	background: url('https://animoto.com/static/TealSplash-367ca720269f605ab1e13d82d6726e16.svg') no-repeat;
	background-size: contain;
	position: absolute;
	width: 5rem;
	height: 17rem;
	right: -6.07rem;
	bottom: 9rem;
}

/** --------------CUSTOMERS-REVIEW-COMP-------------- */

.review-comp {
	height: auto;
	box-sizing: border-box;
	padding: 2rem 5rem;
	color: #181c47;
	cursor: default;
}

.review-content {
	display: flex;
	justify-content: space-between;
	margin: auto;
	margin-top: 3rem;
	line-height: 1.7;
	letter-spacing: 0.1em;
	font-size: 17px;
}

.review-content>div {
	width: 31%;
}

.review-content h4 {
	line-height: 3;
}

.review-content img {
	height: 120px;
}

/** --------------PARTNER-OF-COMP-------------- */

.partner-comp {
	padding: 5rem 7rem;
	color: #181c47;
}

.partner-comp>h4 {
	margin-bottom: 2rem;
	letter-spacing: 0.1em;
}

.partner-content {
	display: flex;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
}

.partner-content>div {
	width: 20%;
	height: 5rem;
}

.partner-content img {
	height: 100%;
	width: auto;
	cursor: pointer;
}

/** --------------FIRST-VIDEO-COMP-------------- */

.first-video-comp {
	padding: 2rem 0;
	color: #fff;
	cursor: default;
}

.first-video-curve-i {
	background: url('https://animoto.com/static/wave-aeda5c1f5857751c695e656303e25aa5.svg') no-repeat;
	background-position-x: 43%;
	background-position-y: bottom;
	background-size: 4000px 70px;
	transform: scaleY(-1) translateY(-1px);
	height: 70px;
	width: 100%;
}

.first-video-curve-ii {
	background: url('https://animoto.com/static/wave-aeda5c1f5857751c695e656303e25aa5.svg') no-repeat;
	background-position-x: 55%;
	background-size: 6000px 70px;
	transform: translateY(-1px);
	height: 70px;
	width: 100%;
}

.first-video-content {
	background-color: #23408c;
	line-height: 2;
	position: relative;
	border-top: 1px solid #23408c;
}

.first-video-content>h1 {
	color: #fff;
	font-size: 67px;
}

.first-video-content>div {
	padding: 1.7rem 0;
	font-size: 18px;
	letter-spacing: 0.05em;
}

.first-video-content p {
	margin-bottom: 2rem;
}

.first-video-content button+div {
	margin-top: 2rem;
}

.see-pricing {
	text-decoration: none;
	color: #fff;
	font-size: 15px;
	font-weight: bold;
	border-bottom: 2px solid white;
	cursor: pointer;
	letter-spacing: 0.1em;
	padding-bottom: 0.2rem;
}

.see-pricing:hover {
	color: whitesmoke;
	border-color: whitesmoke;
	transition: all 0.75s ease;
}

.first-video-art-i {
	background: url('https://animoto.com/static/LeftNavySwirl-0d3cf8289676e3ba3c657cf7ea051f88.svg') no-repeat;
	position: absolute;
	background-size: contain;
	height: 20rem;
	width: 8rem;
	left: 0;
	top: 0;
}

.first-video-art-ii {
	background: url('https://animoto.com/static/RightNavySwirl-f066eaa1f245033bb78138cb51d8c1b6.svg') no-repeat;
	position: absolute;
	background-size: contain;
	height: 20rem;
	width: 13rem;
	right: 0;
	top: 0;
}

/** --------------HELP-CENTER-COMP-------------- */

.help-comp {
	display: flex;
	justify-content: center;
	gap: 3rem;
	padding: 5rem 0;
	padding-left: 5rem;
	cursor: default;
	color: #181c47;
}

.help-content {
	width: 70%;
	text-align: left;
}

.help-content>h1 {
	font-size: 43px;
	line-height: 1.7;
}

.help-content>div {
	margin: 2rem 0;
	line-height: 2;
	font-size: 18px;
	letter-spacing: 0.06em;
}

.help-comp span {
	color: #4664c8;
	text-decoration: underline;
	cursor: pointer;
}

.help-comp span:hover {
	color: #181c47;
}

.help-content+div {
	display: flex;
	align-items: center;
}

.help-content+div>img {
	width: 100%;
}

/** --------------EXPLORE-COMP-------------- */

.explore-comp {
	padding: 2rem 4rem;
	background-color: #f4f3f9;
	color: #181c47;
}

.explore-header {
	letter-spacing: 0.1em;
	font-weight: bold;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.5rem;
	cursor: pointer;
}

.explore-content {
	display: flex;
	text-align: left;
	justify-content: space-between;
	margin-top: 3rem;
}

.explore-content>div {
	width: 20%;
	box-sizing: border-box;
	padding-left: 3rem;
	line-height: 2.4;
	letter-spacing: 0.07em;
}

.explore-content h4 {
	color: #241d49;
	font-size: 17px;
	cursor: default;
	letter-spacing: 0.1em;
}

.explore-content p {
	font-size: 18px;
	color: #4664c8;
	text-decoration: underline;
	cursor: pointer;
}

.explore-content p:hover {
	color: #23408c;
}


/*? ----------------------------SIGN-UP-AND-LOG-IN---------------------------- */

.signup,
.login {
	min-height: 100vh;
	position: relative;
	color: #181c47;
}

.signup-art-i,
.login-art-i {
	background: url('https://d2of6bhnpl91ni.cloudfront.net/bundles/react/images/YellowSplats2.svg') no-repeat;
	background-size: contain;
	position: absolute;
	height: 20rem;
	width: 7rem;
	left: 0;
	top: 1rem;
}

.signup-art-ii,
.login-art-ii {
	background: url('https://d2of6bhnpl91ni.cloudfront.net/bundles/react/images/BlueSplash.svg') no-repeat;
	background-size: contain;
	position: absolute;
	transform: scaleX(-1) !important;
	right: 0;
	top: 14rem;
	height: 20rem;
	width: 5rem;
}

.signup-header,
.login-header {
	padding: 1.7rem 0;
	line-height: 1.7;
	cursor: default;
}

.signup-header>h1,
.login-header>h1 {
	font-size: 36px;
}

.signup-header>div,
.login-header>div {
	font-size: 20px;
	letter-spacing: 0.1em;
}

.signup-body,
.login-body {
	width: 33%;
	margin: 0.5rem auto;
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	gap: 2rem;
	position: relative;
}

.signup-body>input,
.login-body>input {
	height: 2.7rem;
	box-sizing: border-box;
	font-size: 18px;
	letter-spacing: 0.05em;
	border: 1px solid gray;
	outline-color: #23408c;
	padding: 0 0.5rem;
	border-radius: 0.3rem;
}

.signup-body>input:hover,
.login-body>input:hover {
	border: 2px solid #23408c;
}

.password-icon {
	position: absolute;
	font-size: 24px;
	color: gray;
	right: 1rem;
	bottom: 5.6rem;
	cursor: pointer;
}

.password-icon-invalid {
	position: absolute;
	font-size: 24px;
	color: gray;
	right: 1rem;
	bottom: 7.6rem;
	cursor: pointer;
}

.password-icon:hover {
	color: #23408c;
}

.signup-footer,
.login-footer {
	width: 33%;
	margin: 2.4rem auto;
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	gap: 1.7rem;
	cursor: default;
}

.signup-footer>div:first-child,
.login-footer>div:first-child {
	display: flex;
	justify-content: center;
	align-items: center;
	color: gray;
	gap: 0.5rem;
}

.signup-footer>div:first-child>div,
.login-footer>div:first-child>div {
	height: 100%;
}

.signup-footer>div:first-child>div:first-child,
.signup-footer>div:first-child>div:last-child,
.login-footer>div:first-child>div:first-child,
.login-footer>div:first-child>div:last-child {
	width: 100%;
	height: auto;
	border-top: 1px solid lightgray;
}

.signup-footer>button {
	width: 100%;
	margin: auto;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.5rem;
}

.signup-footer>button+div,
.login-footer>div:nth-child(3) {
	font-size: 12px;
	color: gray;
	letter-spacing: 0.085em;
}

.signup-footer span,
.login-footer span {
	color: darkgray;
	text-decoration: underline;
	cursor: pointer;
}

.signup-footer>div:last-child,
.login-footer>div:last-child {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.5rem;
	letter-spacing: 0.1em;
	margin-top: -1rem;
	color: #181c47;
}

.login-footer>div:nth-child(2) {
	width: 400%;
	margin: auto;
	margin-left: -150%;
}

.login-footer>div:nth-child(2)>button:nth-child(2) {
	margin: 0 1rem;
}

.email-status {
	display: flex;
	align-items: center;
	gap: 0.2rem;
	color: red;
	margin-top: -2rem;
	font-size: 14px;
	letter-spacing: 0.07em;
}

.ls-link {
	margin-bottom: 1rem;
}


/*? ----------------------------FOR-TABLET-SIZE-SCREEN---------------------------- */

@media all and (min-width: 768px) and (max-width: 1024px) {

	/*? ----------------------------NAVBAR---------------------------- */

	.navbar {
		padding: 0 30px;
		font-size: 12px;
	}

	.navbar>div {
		gap: 1rem;
		margin-left: -2%;
	}

	.arrow-right {
		gap: 2px;
	}

	.down-arrow {
		font-size: 20px;
	}

	.nav-ls {
		display: none;
	}

	.login-signup {
		display: flex;
	}

	.nav-user {
		display: none;
	}

	.nav-menu {
		font-size: 36px;
	}

	.nav-menu-drawer {
		height: 97vh;
		width: 50vw;
		right: -31px;
	}

	.drawer-icon {
		font-size: 22px;
	}


	/*? ----------------------------DROPDOWN---------------------------- */

	.create-dropdown {
		height: 244px;
		padding: 47px;
		font-size: 16px;
	}

	.learn-dropdown {
		height: 244px;
		padding: 40px;
		gap: 1rem;
		font-size: 16px;
	}

	.learn-dropdown>div>p:first-of-type {
		line-height: 1;
	}

	.learn-dropdown>div>p:last-of-type {
		line-height: 1.4;
	}

	.learn-icon {
		font-size: 39px;
		cursor: pointer;
	}


	/*? ----------------------------FOOTER---------------------------- */

	.footer {
		height: auto;
	}

	.footer-content {
		height: auto;
		padding: 21px;
		font-size: 14px;
		gap: 1rem;
	}

	.footer-content h4 {
		font-size: 14px;
	}


	/*? ----------------------------COMMON---------------------------- */

	.btn {
		font-size: 12px;
	}

	h1 {
		font-family: PlayfairDisplay-Bold, serif;
		color: #181c47;
	}


	/*? ----------------------------HOME---------------------------- */
	/** --------------INTRO-COMP-------------- */

	.intro-comp {
		height: auto;
	}

	.intro-art-i {
		height: 5rem;
		width: 12rem;
	}

	.intro-art-ii {
		width: 5rem;
		top: 2.2rem;
	}

	.intro-art-iii {
		bottom: -8rem;
		width: 5rem;
	}

	.intro-content {
		height: 400px;
		padding: 55px 9%;
	}

	.intro-content>div:first-child {
		font-size: 12px;
	}

	.intro-content>div:last-child {
		height: 100%;
	}

	.intro-content h1 {
		font-size: 34px;
	}

	.intro-content h1+div {
		font-size: 17px;
		margin: 1.4rem 0 1.7rem 0;
	}

	.intro-content>div>div:last-child>div:last-child {
		top: 0.7rem;
	}

	.intro-comp>div:last-child>img {
		height: 36px;
	}

	/** --------------BUSINESS-COMP-------------- */

	.business-comp {
		height: auto;
		padding: 70px 40px;
	}

	.business-header>h1,
	.qt-header>h1,
	.need-header>h1,
	.need-content>div>div>h1,
	.review-header>h1 {
		font-size: 30px;
		margin-bottom: 0.7rem;
	}

	.business-content {
		margin-top: 3rem;
		line-height: 1.4;
		font-size: 15px;
	}

	.business-content h4 {
		font-size: 14px;
		margin: 1rem auto;
	}

	/** --------------QUICKLY-TEMPLATES-COMP-------------- */

	.qt-comp {
		height: auto;
		width: 96%;
		padding: 20px;
		margin-bottom: 0;
	}

	.qt-header>h4 {
		font-size: 15px;
	}

	.qt-navigator {
		padding: 2rem 0;
		letter-spacing: 0.05em;
	}

	.qt-content h4 {
		font-size: 12px;
	}

	.qt-play-btn {
		font-size: 36px;
	}

	.qt-content button {
		font-size: 12px;
		padding: 0.8rem 1.7rem;
	}

	/** --------------EVERYTHING-NEED-COMP-------------- */

	.need-comp {
		padding: 3rem 0 1rem 0;
	}

	.need-content>div {
		gap: 2rem;
		margin: 1.4rem;
		margin-bottom: 5rem;
	}

	.need-details {
		width: 85%;
	}

	.need-details>div {
		font-size: 15px;
	}

	.need-art-i {
		left: -1.5rem;
		bottom: -11rem;
	}

	.need-art-ii {
		right: -2.6rem;
		bottom: 11rem;
	}

	/** --------------CUSTOMERS-REVIEW-COMP-------------- */

	.review-comp {
		padding: 0.5rem;
	}

	.review-content {
		line-height: 1.4;
		font-size: 15px;
	}

	.review-content h4 {
		line-height: 2;
	}

	/** --------------PARTNER-OF-COMP-------------- */

	.partner-comp {
		padding: 2rem;
	}

	.partner-content img {
		height: 70%;
	}

	/** --------------FIRST-VIDEO-COMP-------------- */

	.first-video-curve-i {
		background-size: 2400px 40px;
		height: 40px;
	}

	.first-video-curve-ii {
		background-size: 4000px 40px;
		height: 40px;
	}

	.first-video-content {
		line-height: 1.7;
	}

	.first-video-content>h1 {
		font-size: 36px;
	}

	.first-video-content>div {
		font-size: 15px;
	}

	.first-video-art-i {
		height: 12rem;
	}

	.first-video-art-ii {
		width: 9.4rem;
		top: 1rem;
	}

	/** --------------HELP-CENTER-COMP-------------- */

	.help-comp {
		gap: 2rem;
		padding: 2rem 0;
		padding-left: 1rem;
	}

	.help-content {
		width: 100%;
	}

	.help-content>h1 {
		font-size: 30px;
		line-height: 1;
	}

	.help-content>div {
		line-height: 1.4;
		font-size: 15px;
	}

	/** --------------EXPLORE-COMP-------------- */

	.explore-comp {
		padding: 1.7rem;
	}

	.explore-content {
		margin-top: 2rem;
	}

	.explore-content>div {
		padding-left: 0.7rem;
		line-height: 1.4;
	}

	.explore-content h4 {
		font-size: 15px;
	}

	.explore-content p {
		font-size: 16px;
	}


	/*? ----------------------------SIGN-UP-AND-LOG-IN---------------------------- */

	.login,
	.signup {
		min-height: 50vh;
	}

	.signup-header,
	.login-header {
		padding: 1rem 0;
		line-height: 1;
	}

	.signup-body,
	.login-body {
		width: 44%;
		gap: 1.4rem;
	}

	.password-icon {
		bottom: 4.8rem;
	}

	.password-icon-invalid {
		bottom: 6.1rem;
	}

	.signup-footer,
	.login-footer {
		width: 44%;
	}

	.login-footer>div:nth-child(2) {
		width: 300%;
		margin: auto;
		margin-left: -104%;
	}

	.login-footer>div:nth-child(2)>button:nth-child(2) {
		margin: 0 1rem;
	}

	.login-footer>div:nth-child(2)>button {
		width: 20%;
	}

	.email-status {
		margin-top: -1rem;
		letter-spacing: 0.04em;
	}

	.invalid-icon {
		font-size: 16px;
	}

	.ls-link {
		margin-bottom: 1rem;
	}

}


/*? ----------------------------FOR-MOBILE-SIZE-SCREEN---------------------------- */